<div class="container">

    <table class="table table-striped table-bordered">
        <tr>
            <td colspan="4"><strong>URL Endpoint: /api/game/achievements/{permalink}</strong></td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>Description: </strong>
                Get Game Data
            </td>
        </tr>
    </table>

    <h3 class="page-header">Example</h3>
    <p><strong>Endpoint: </strong>/api/game/achievements/{{selectedGame.permalink}}</p>
    <p><strong>Total Achievements: </strong>{{details.length}}</p>
    <select style="max-width: 140px; margin-bottom: 10px;" class="form-control" ng-options="item as item.title for item in achievements" ng-model="selectedGame" ng-change="update()">
    </select>
    <pre>{{ details | json }}</pre>
</div>