<div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <td colspan="4"><span class="text-bold">URL Endpoint: </span><span class="endpoint-text">/api/game/achievements</span><span class="endpoint-text-options">?game={permalink}</span></td>
            </tr>
            <tr>
                <td colspan="4">
                    Get Game Achievements
                </td>
            </tr>
            <tr>
                <td colspan="4"><span class="text-bold">Queries</span></td>
            </tr>
            <tr>
                <td>Game (Required)</td>
                <td>Game Permalink</td>
            </tr>
        </table>
    </div>

    <div ng-if="vm.selectedGame">
        <h3 class="page-header">Example</h3>
        <p><span class="text-bold">Endpoint: </span><span class="endpoint-text">/api/game/achievements</span><span class="endpoint-text-options">?game={{vm.selectedGame.permalink}}</span></p>
        <p><span class="text-bold">Total Achievements: </span><span class="text-primary">{{vm.achievements.length}}</span></p>
        <pre>{{ vm.achievements | json }}</pre>
    </div>
</div>