<div ng-include="'/views/navbar.html'"></div>

<div class="container container-bg" ng-controller="GameInfoController as vm">
    <h2 class="page-header" ng-bind="vm.gameInfo.title"></h2>

    <div class="media">
        <div class="media-left">
            <a target="_blank" href="{{vm.gameInfo.imageUrl}}">
                <img class="media-object" src="{{vm.gameInfo.imageUrl}}"/>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading" ng-bind="vm.gameInfo.title"></h4>
            <p ng-bind="'Game Id: ' + vm.gameInfo.gameId"></p>
            <p ng-bind="'Developer: ' + vm.gameInfo.developer"></p>
            <p ng-bind="'Publisher: ' + vm.gameInfo.publisher"></p>
            <p ng-bind="'Genre: ' + vm.gameInfo.genre"></p>
            <p ng-bind="vm.achievements.length + ' achievements'"></p>
        </div>
    </div>

    <h2 class="page-header">Achievements</h2>

    <div class="row">
        <div class="col-md-4 col-sm-6" ng-repeat="ach in vm.achievements">
            <div class="achievement-wrapper">
                <img class="img-responsive" src="{{ach.imageUrl}}" alt="Cover">
                <div class="gradient">
                    <h4 class="media-heading" ng-bind="ach.title"></h4>
                    <p ng-bind="ach.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>