<div ng-include="'/views/navbar.html'"></div>

<div class="container container-bg" ng-controller="GameInfoController as vm">
    <h2 class="page-header" ng-bind="vm.gameInfo.title"></h2>

    <div class="media">
        <div class="media-left">
            <a target="_blank" href="{{vm.gameInfo.imageUrl}}">
                <img class="media-object" src="{{vm.gameInfo.imageUrl}}"/>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading" ng-bind="vm.gameInfo.title"></h4>
            <span ng-bind="'Game Id: ' + vm.gameInfo.gameId"></span><br/>
            <span ng-bind="'Developer: ' + vm.gameInfo.developer"></span><br/>
            <span ng-bind="'Publisher: ' + vm.gameInfo.publisher"></span><br/>
            <span ng-bind="'Genre: ' + vm.gameInfo.genre"></span><br/>
            <span ng-bind="vm.achievements.length + ' achievements'"></span><br/>
            <span>Linked to Parse: </span>
            <span class="text-primary" ng-class="vm.inParse ? 'fa fa-link' : 'fa fa-chain-broken'"></span>
        </div>
    </div>

    <h2 class="page-header">Achievements</h2>

    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Achievement Id</th>
                <th>In Parse</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ach in vm.achievements">
                <td><img width="150px;" class="" src="{{ach.imageUrl}}"/></td>
                <td>
                    <span class="text-bold text-primary">{{ach.title}}</span><br/>
                    <span>{{ach.description}}</span>
                </td>
                <td>
                    {{ach.achievementId}}
                </td>
                <td>
                    <span class="text-primary" ng-class="ach.inParse ? 'fa fa-link' : 'fa fa-chain-broken'"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-md-4 col-sm-6" ng-repeat="ach in vm.achievements">-->
            <!--<div class="achievement-wrapper">-->
                <!--<img class="img-responsive" src="{{ach.imageUrl}}" alt="Cover">-->
                <!--<div class="gradient">-->
                    <!--<h4 class="media-heading" ng-bind="ach.title"></h4>-->
                    <!--<p ng-bind="ach.description"></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>