<div class="container">
    <h1 class="page-header">XBA API's</h1>

    <table class="table table-bordered table-striped">
        <tr>
            <td>
                API
            </td>
            <td colspan="4">
                Description
            </td>
        </tr>
        <tr>
            <td><a href="/latestnews">Latest News</a></td>
            <td colspan="4" style="font-style: italic">Get Latest News</td>
        </tr>
        <tr>
            <td><a href="/news">News</a></td>
            <td colspan="4" style="font-style: italic">News Details</td>
        </tr>
    </table>
</div>