<div class="container">
    <h1 class="page-header">Latest Achievements</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <td colspan="4"><span class="text-bold">URL Endpoint: </span><span class="endpoint-text">/api/latest/achievements</span></td>
        </tr>
        <tr>
            <td colspan="4">
                Get the Latest Achievements. 25 per page.
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="text-bold">Queries</span></td>
        </tr>
        <tr>
            <td>Page</td>
            <td>Page number to load</td>
        </tr>
    </table>

    <h3 class="page-header">Example</h3>
    <p><span class="text-bold">Endpoint: </span><span class="endpoint-text">/api/latest/achievements</span><span class="endpoint-text-options">?page={{pageNumber}}</span></p>
    <p><span class="text-bold">Total Latest Achievements: </span><span class="text-primary">{{ achievements.length }}</span></p>
    <input style="max-width: 140px; display: inline; margin-bottom: 10px;" class="form-control" type="number" placeholder="1" ng-model="pageNumber" min="1"/>
    <button class="btn btn-default" ng-click="getLatestAchievements()">Submit</button>
    <pre>{{ achievements | json }}</pre>
</div>