<div ng-controller="NavbarController as vm">
    <header class="navigation-bar">
        <div class="container">
            <div class="navigation-brand">
                <a href="#">
                    <span class="navigation-brand-title animated fadeIn">releet</span>
                </a>
            </div>
            <div class="navigation-menu">
                <span class="navigation-menu-icon animated fadeIn" ng-click="vm.toggleSideBar()">
                    <i class="pe-7s-more pe-rotate-90 pe-lg pe-va"></i>
                </span>
            </div>
        </div>
    </header>

    <aside class="side-bar">
        <ul>
            <li><a href="/dashboard">Latest Achievements</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="" target="_self" ng-click="vm.logout()">Logout</a></li>
        </ul>
    </aside>
</div>