@import "variables.l";

.alert {
  border-radius: 0;
}

.container-bg {
  background-color: white;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.achievement-wrapper {
  position: relative;
  margin-bottom: 20px;
  font-weight: 300;

  img {
    width: 100%;
  }

  .gradient {
    position: absolute;
    background-color: rgba(0,0,0,.7);
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
  }
}

.page-header {
  font-weight: 300;
  color: #e74c3c;
}

.text-bold {
  font-weight: 700;
}

.text-thin {
  font-weight: 100;
}

.text-primary {
  color: #e74c3c;
}

.text-size-title {
  font-size: 24px;
}

.login-wrapper {
  input.form-control {
    margin-bottom: 10px;
  }
}

.browse-alphabetic {
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: 5px;
  }
}

.btn-relos-trans {
  background-color: rgba(0,0,0,0);
  border: 2px solid @ACCENT_COLOR;
  color: @ACCENT_COLOR;
  
  &:hover {
    color: darken(@ACCENT_COLOR, 10%);    
    border: 2px solid darken(@ACCENT_COLOR, 10%);

  }
}