@import "variables";

.achievement-wrapper {
  position: relative;
  margin-bottom: 20px;
  font-weight: 300;

  img {
    width: 100%;
  }

  .gradient {
    position: absolute;
    background-color: rgba(0,0,0,.7);
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
  }
}