@import 'global.less';

#home-wrapper {
  padding-top: @height-navigation-bar;
  position: relative;
  background-color: @primary-color;
  min-height: 100vh;
  
  background: #49c0f0; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #49c0f0 0%, #097c9c 100%);
  background: -webkit-linear-gradient(-45deg, #49c0f0 0%,#097c9c 100%);
  background: linear-gradient(135deg, #49c0f0 0%,#097c9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#097c9c',GradientType=1 );

  i:first-child {
    color: @font-color-accent;
    display: block;
    text-align: center;
  }

  .login-wrapper {
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    
    span {
      display: block;
      color: @font-color-accent;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    form {
      min-width: 280px;

      .email-input {
        background-color: rgba(0,0,0,0.07);
        border: 1px solid @accent-color;
        border-radius: 4px;
        margin-bottom: 10px;

        &:hover, &:focus, &:active {
          input {
            //width: 235px;
          }
        }

        input {
          background-color: rgba(0,0,0,0.2);
          border: none;
          border-radius: 0;
          color: @font-color-accent;
          font-size: @font-size-regular;
          padding: 8px;
          border-right: 1px solid @accent-color;
          box-shadow: none;
          outline: none;
          width: 80%;

          // -webkit-transition: all 0.2s;
          // -moz-transition: all 0.2s;
          // -ms-transition: all 0.2s;
          // -o-transition: all 0.2s;
          // transition: all 0.2s;

          &:focus, &:active {
            //width: 235px;
          }
        }

        i {
          color: @font-color-accent;
          padding: 8px;
          text-align: center;
        }
      }
    }
  }
}