body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .page-header {
  font-weight: 300;
  color: #e74c3c;
}
body .endpoint-text {
  font-weight: 500;
  color: #0b97c4;
}
body .endpoint-text-options {
  font-weight: 600;
  color: #e74c3c;
}
body .text-bold {
  font-weight: 700;
}
body .text-primary {
  color: #e74c3c;
}
body .tab-content {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
body .nav-tabs {
  margin-bottom: -1px;
}
