@import 'navbar.less';
@import 'global.less';
@import 'home.less';
@import "dashboard.less";

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  // -webkit-perspective: 1000px;
  // -moz-perspective: 1000px;
  // -ms-perspective: 1000px;
  // -o-perspective: 1000px;
  // perspective: 1000px;
}

body {
  font-family: @roboto;
  font-weight: 300;
  font-size: @font-size-regular;
}