body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  .page-header {
    font-weight: 300;
    color: #e74c3c;
  }

  .endpoint-text {
    font-weight: 500;
    color: #0b97c4;
  }

  .endpoint-text-options {
    font-weight: 600;
    color: #e74c3c;
  }

  .text-bold {
    font-weight: 700;
  }

  .text-primary {
    color: #e74c3c;
  }

  .tab-content {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }

  .nav-tabs {
    margin-bottom: -1px;
  }
}