// fonts
@roboto: 'Roboto', sans-serif;
@lato: 'lato', sans-serif;

// font size
@font-size-tiny: 10px;
@font-size-small: 12px;
@font-size-regular: 16px;
@font-size-semi-large: 20px;
@font-size-x-large: 30px;
@font-size-huge: 50px;


// color
@primary-color: #097c9c;
@accent-color: #f9d406;
@font-color-light: #f2f2f2;
@font-color-accent: @accent-color;
@font-color-dark: #121212;


// height
@height-navigation-bar: 70px;

// Breakpoints
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@media-x-small:     ~"only screen and (max-width: 543px)";
@media-small:       ~"only screen and (min-width: 544px) and (max-width: 767px)";
@media-medium:      ~"only screen and (min-width: 768px) and (max-width: 991px)";
@media-large:       ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@media-x-large:     ~"only screen and (min-width: 1200px)";